i{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.icon-green{
    color: #1B5E20;
}

.active-row{
    background: #DCEDC8;
}

.active-row-purple{
    background: #CE93D8;
}

.ngdialog-content {
    width: 90% !important;
}
