<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/css/ngDialog.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog-theme-default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="recod/sidebar.css">
<link rel="stylesheet" href="recod/recod.css">

<title> RECOD </title>

<link rel="icon" type="image/png" sizes="32x32" href="image/favicon.png">

</head>
<body ng-app="recod" ng-controller="recodCtr">
  <div id="mySidenav" class="sidenav">
      <img class="logo" src="image/recod.png"
           height="65" width="160"
           alt="logo" />
      <a href="javascript:void(0)"
         class="closebtn"
         onclick="closeNav()">&times;</a>
      <a href="#" ng-click="selectGraph('usersUsage')" onclick="closeNav()">Users</a>
      <a href="#" ng-click="selectGraph('dlsUsage')" onclick="closeNav()">DLs</a>
  </div>

  <div id="main" class="container-fluid">
    <i class="fa fa-caret-square-o-right fa-3x menu"
       aria-hidden="true"
       onclick="openNav()"></i>
    <i class="fa fa-exclamation-triangle fa-3x sanity"
       aria-hidden="true"
       title="Server not running"
       ng-show="halt">
    </i>
    <div class="filters">
      <div class="row">
          <b>Filters:</b>
          <input data-provide="datepicker"
                placeholder="Initial Date"
                ng-model="date_filter1"
                class="datapicker"
                data-date-format="dd/mm/yyyy"/>
          <input data-provide="datepicker"
                placeholder="Final Date"
                ng-model="date_filter2"
                class="datapicker"
                data-date-format="dd/mm/yyyy"/>
      </div>
    </div>
    <div class="row">
      <canvas id="chart" onclick="closeNav()" height="100%"></canvas>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.3/mask.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/js/ngDialog.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
  <script src="recod/graphs.js"></script>
  <script src="recod/sidebar.js"></script>
  <script src="recod/recod.js"></script>
</body>
</html>
