.menu{
    position: fixed;
    left: 0px;
    top: 0px;
    cursor: pointer;
}

.sanity{
    position: fixed;
    left: 96%;
    top: 0px;
    cursor: pointer;
}

.filters{
    width: 50%;
    margin: 0 auto;
}

.chartjs-render-monitor {
  min-width: 1024px;
}
