<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="CSS/textStyle.css">
</head>
<body>
  <div class="container-fluid">
    <hr />
    <div class="row">
      <div class="col-sm-3"> </div>
      <div class="col-sm-3"> <h3> About Me </h3> </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2"> </div>
      <div id="about" class="col-sm-8">
	<p> First of all I am a computer lover, and I have been studying these machines during at least 8 years. And one thing that I have learned is that it is impossible to know everything on this field, each one of us is good at a specific area of this whole universe called IT; The areas that I am more familiar with are software development, web development, and game development. I love to face new challenges everyday, and I like to solve them in the best way possible. That is the main reason why I chose Computer Science as my Major, I can develop tools which will help people solve their problems and It is a field full of challenges.</p>
	<br>
	<br>
	<p> "A person who never made a mistake never tried anything new."​ - <b> Albert Einstein </b> </p>

	<p> "Do you remember the guy that gave up? Neither does anybody else." - <b>Unknown</b> </p>
      </div>
    </div>
  </div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
