<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="CSS/resumeStyle.css">
</head>
<body>
  <div class="container-fluid">
    <hr />
    <div class="row">
      <div class="col-sm-3"> </div>
      <div class="col-sm-3"> <h3> Resume </h3> </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2"> </div>
      <div class="col-sm-8">
	<ul id="pdfs">
	  <li>
	    <a class="btn btn-info" role="button" href="Files/pt_BR-Resume.pdf"> <p> Portuguese <span> <img src="http://cdn.mysitemyway.com/icons-watermarks/flat-rounded-square-white-on-red-gradient/mimetype/mimetype_document-pdf/mimetype_document-pdf_flat-rounded-square-white-on-red-gradient_512x512.png" width="40" height="40" /> </span> </p> </a>
	  </li>
	  <li>
	    <a class="btn btn-info" role="button" href="Files/en_US-Resume.pdf"> <p> English <span> <img src="http://cdn.mysitemyway.com/icons-watermarks/flat-rounded-square-white-on-red-gradient/mimetype/mimetype_document-pdf/mimetype_document-pdf_flat-rounded-square-white-on-red-gradient_512x512.png" width="40" height="40" /> </span> </p> </a>
	  </li>
	</ul>
      </div>
  </div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
